In [17]:
import numpy as np
import pandas as pd
import random

In [3]:
df = pd.read_csv('StudentData/team13submission.csv')

In [4]:
df.head()

                                      image  total_rating
0  008f9fb675b4642d0a62860fddba36bf1882512a           4.2
1  08ec6c63c74cf12546015081abd34ff25e7b3d1c           4.2
2  0a25bb2032b7ad075ff278893ba2bcc06db416dc           4.2
3  0f133005843f48e9595b487972c79e3baebb7eeb           4.2
4  13b4c14ee6d2118557279888df695a3cf2034598           4.2

In [28]:
df['total_rating'] = np.random.randint(1,11, size=len(df))

In [29]:
df.to_csv('StudentData/team13submission.csv')

In [30]:
df['total_rating'].unique()

array([ 7,  9,  6,  8,  4,  5, 10,  2,  1,  3], dtype=int64)